{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partial/header.html.twig' %}
    {% include 'partial/rightAside.html.twig' %}
    <div class="shadow">
        {% include 'partial/doubleNav.html.twig' %}
    </div>
    <div class="flex w-screen h-screen container mx-auto flex flex-col items-center pt-6 text-xl font-medium main-content">
        <div class="flex w-full justify-between px-8 pb-14">
            <a href="{{ path('app_tournament_add') }}" class="flex bg-[--bg-green-light] items-center justify-center
             gap-4 rounded px-2 py-1 text-white text-base">
                <img src="{{ asset('build/images/icons/cupWhite.svg') }}" alt="ajout tournois" width="14px" >
                <p>Créer un tournois</p>
            </a>
            <h1 class="flex items-center text-[#19864e] ">Derniers Match</h1>
            <a href="{{ path('app_tournament_add') }}" class="flex bg-[--bg-green-light] items-center justify-center
             gap-4 rounded px-2 py-1 text-white text-base">
                <img src="{{ asset('build/images/icons/cupWhite.svg') }}" alt="ajout tournois" width="14px" >
                <p>Créer tournois</p>
            </a>
        </div>

        <ul class="flex flex-col gap-4 w-full items-center grid lg:grid-cols-2 grid-cols-1 justify-center gap-8 px-12 pb-6">
            {% for index in 1..10 %}
                <li class="h-[12.5vh]">
                    {% include 'components/cardMatch.html.twig' %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}