{% extends 'base.html.twig' %}

{% block title %}Créer un tournoi{% endblock %}

{% block body %}
    <h1>Créer un tournoi</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.location) }}
    {{ form_row(form.sport) }}
    {{ form_end(form) }}
{% endblock %}
