{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partial/header.html.twig' %}
    {% include 'partial/rightAside.html.twig' %}
    <div class="shadow">
        {% include 'partial/doubleNav.html.twig' %}
    </div>
    <div class="flex w-full h-screen container mx-auto flex flex-col items-center pt-6 text-xl font-medium main-content">
        <div class="flex w-full justify-between px-8 pb-14">
            <a href="{{ path('app_tournament_add') }}" class="flex bg-[--bg-green-light] items-center justify-center
             gap-4 rounded px-2 text-white text-base">
                <img src="{{ asset('build/images/icons/cupWhite.svg') }}" alt="ajout tournois" width="14px" >
                <p>Créer un tournois</p>
            </a>
            <h1 class="flex items-center text-[#19864e] text-2xl">Liste des Tournois</h1>
            <div class="flex justify-center">
                {{ form_start(filterForm, {'attr': {'class': 'flex flex-col items-center gap-4'}}) }}
                {{ form_row(filterForm.sports) }}
                {{ form_end(filterForm) }}
            </div>
        </div>

        <ul class=" gap-8 w-full items-center content-center grid lg:grid-cols-5 md:grid-cols-3 grid-cols-2 justify-center gap-8 px-12 pb-6">
            {% for tournament in tournaments %}
                <li>
                    <a href="{{ path('app_tournament_show', { 'id': tournament.id }) }}" class="block">
                        {% include 'components/cardTournament.html.twig' with {
                            'name': tournament.name,
                            'location': tournament.location,
                            'sportName': tournament.sport.name
                        } %}
                    </a>
                </li>
            {% else %}
                <li class="grid-cols-subgrid col-span-5 h-full items-center">
                    <p class="text-center text-gray-500 col-start-2">Aucun tournoi trouvé.</p>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    <style>
        select {
            border-color: var(--bg-green-light);
            border-width: 3px;
            border-radius: 7px;
            padding: 2px 18px 2px 4px;

            &:hover {
                opacity: 100%;
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sportSelect = document.querySelector("select[name='tournament_filter[sports]']");

            if (sportSelect) {
                sportSelect.addEventListener("change", function () {
                    this.form.submit();
                });
            }
        });
    </script>
{% endblock %}