<div class="flex flex-col border-2 rounded shadow-md py-2 aspect-square items-center cursor-pointer border-neutral-300
    hover:scale-110 transition-transform duration-200">
    <h2 class="text-lg font-bold h-[20%]">{{ name }}</h2>

    <img src="{{ asset('build/images/tournament/' ~ sportName ~ '.png') }}"
         alt="{{ sportName }} image"
         class="h-[50%]">

    <div class="flex flex-col items-center h-[30%] justify-end">
        <p class="text-gray-600">{{ location }}</p>
        <p class="text-sm italic">{{ sportName }}</p>
    </div>
</div>
