<nav class="h-[9vh] flex items-center bg-[--bg-green-dark] border-[--bg-green-dark] border-b-4">
    <div class=" mx-4 flex w-full justify-between items-center">
        <div class="flex items-center gap-4">
            <a href="{{ path('app_home') }}" class="flex items-center justify-center gap-2 cursor-pointer">
                <img src="{{ asset('build/images/aloas-logo.png') }}" alt="Logo" class="h-[5vh]">
                <h1 class="text-white text-2xl font-bold">ALOAS</h1>
            </a>
        </div>
        <div>
            <div class="flex">
                {% if app.user %}
                    <a href="{{ path('app_register') }}"
                       class="flex items-center justify-center py-1 px-2 gap-2 cursor-pointer">
                        <img src="{{ asset('build/images/icons/plus.svg') }}" alt="account" width="24">
                        <p class="sm:flex hidden text-md font-medium text-white">Ajouter un utilisateur</p>
                    </a>
                    <a href="{{ path('app_logout') }}"
                       class="flex items-center justify-center py-1 px-2 gap-2 cursor-pointer">
                        <img src="{{ asset('build/images/icons/login.svg') }}" alt="account" width="16">
                        <p class=" sm:flex hidden text-md font-medium text-white">Se déconnecter</p>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}"
                       class="flex items-center justify-center py-1 px-2 gap-2 cursor-pointer">
                        <img src="{{ asset('build/images/icons/login.svg') }}" alt="account" width="16">
                        <p class="sm:flex hidden text-md font-medium text-white">Se connecter</p>
                    </a>
                {% endif %}
                <a id="buttonAside" class="flex items-center justify-center py-1 px-2 gap-2 cursor-pointer">
                    <img src="{{ asset('build/images/icons/help.svg') }}" alt="account" width="24">
                    <p class="sm:flex hidden text-md font-medium text-white">Assistance</p>
                </a>
            </div>
        </div>
    </div>
</nav>
