<nav class="shadow h-[9vh] flex items-center">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{{ path('app_home') }}" class="flex items-center justify-center gap-2 cursor-pointer">
            <img src="{{ asset('build/images/aloas-logo.png') }}" alt="Logo" class="h-[6vh]">
            <h1 class="text-[#19864e] text-2xl font-bold">ALOAS</h1>
        </a>
        <div>
            <div class="flex">
                <a href="{{ path('app_login') }}" class="flex items-center justify-center py-1 px-2 gap-2 cursor-pointer">
                    <img src="{{ asset('build/images/icons/login.svg') }}" alt="account" width="16">
                    <p class="text-md font-medium text-[#19864e]">Se connecter</p>
                </a>
                <a class="flex items-center justify-center py-1 px-2 gap-2 cursor-pointer">
                    <img src="{{ asset('build/images/icons/login.svg') }}" alt="account" width="16">
                    <p class="text-md font-medium text-[#19864e]">Assistance</p>
                </a>
            </div>
        </div>
    </div>
</nav>