<div id="rightAside" class="aside hidden">
    <div class="insideAside">
        <div class="h-[9vh] shadow">
            <div id="buttonAside" class="flex items-center h-full w-full p-5 font-bold text-xl cursor-pointer">
                <i class="fa-solid fa-chevron-right pr-3"></i>
                Assistance
            </div>
        </div>
        <div class="h-[91vh]">
            <div class="shadow pl-5 pr-5 pt-2 pb-2 flex flex-col">
                <span class="titleVideo">
                    Vidéos
                </span>
                <a href="{{ path('app_video_all') }}" class="textVideo">
                    <i class="fa-solid fa-video"></i>
                    <span>Voir les vidéos d'explication</span>
                </a>
            </div>
            <div class="shadow pl-5 pr-5 pt-2 pb-2 flex flex-col">
                <span class="titleVideo">
                    Créer un calendrier de tournois
                </span>
                <a href="{{ path('app_video_team') }}" class="textVideo">
                    <i class="fa-solid fa-people-group"></i>
                    <span>Ajouter des équipes</span>
                </a>
                <a href="{{ path('app_video_team') }}" class="textVideo">
                    <i class="fa-solid fa-trophy"></i>
                    <span>Créer un classement</span>
                </a>
                <a href="{{ path('app_video_team') }}" class="textVideo">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    <span>Traiter des scores</span>
                </a>
            </div>
            <div class="shadow pl-5 pr-5 pt-2 pb-2 flex flex-col">
                <span class="titleVideo">
                    Plus d'aide
                </span>
                <a href="{{ path('app_video_help') }}" class="textVideo">
                    <i class="fa-solid fa-phone"></i>
                    <span>Centre d'aide</span>
                </a>
            </div>
        </div>
    </div>
</div>